body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, serif;
  background: rgb(91, 150, 255);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
}

#container {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Monoton;
  font-size: 60px;
  margin: 0;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 30px auto;
}

tr {
  height: 25px;
}

td {
  width: 25px;
}

input[type='number'] {
  width: 3rem;
  border: 0;
  border-radius: 3px;
  padding: 2px;
}

#submit-button {
  background: #ffc600;
  border: 0;
  margin-bottom: 0;
  border-radius: 5px;
  font-size: 1rem;
  border-bottom: 1px solid #f3c010;
  cursor: pointer;
  position: relative;
}

#submit-button:focus,
#submit-button:active {
  outline: none;
}
